p {
    font-size: 25px;
    color: white;
    

}
   
body {
    background-color: white;
    background-image: url(istockphoto-2159791607-2048x2048.jpg);
    background-size: contain;
    
   
}

h1 {
    color: white;
    font-size: 50px;
}

img {
    height: 300px;

}
  
a {
    font-size: 50px;
    color: white;
}
 
 
    


    


